# YOUR FIREBASE INFORMATIONS 
EXPO_PUBLIC_FIREBASE_API_KEY=<API KEY>
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=<AUTH DOMAIN>
EXPO_PUBLIC_FIREBASE_PROJECT_ID=<PROJECT ID>
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=<STORAGE BUCKET>
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=<SENDER ID>
EXPO_PUBLIC_FIREBASE_APP_ID=<APP ID>

# YOUR FIREBASE ADMIN CONFIGURATION 
FIREBASE_PROJECT_ID=<PROJECT ID>
FIREBASE_CLIENT_EMAIL=<CLIENT EMAIL>
FIREBASE_PRIVATE_KEY=<PRIVATE KEY>

# TO CREATE A QUIZ API KEY, GO TO https://quizapi.io/ AND CREATE AN ACCOUNT 
EXPO_PUBLIC_QUIZ_API_KEY=<QUIZ API KEY>

# YOUR LOCAL NETWORK ADDRESS
EXPO_PUBLIC_FETCH_NETWORK_ADDRESS=<YOUR LOCAL NETWORK ADDRESS>

